<div class="parent">
<div class="signup_nav signup_nav1 ">
<%= link_to "â‡", root_path, class: "arrow" %>
<h2>
Register
</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Names" %>
  </div>

    <div class="field">
    <%# <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password(6 characters)" %>
  </div>

  <div class="field">
    <%# <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class: "btn btn-success btn1" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>