<p style="color: green"><%= notice %></p>

<%= render @funding %>

<div>
  <%= link_to "Edit this funding", edit_funding_path(@funding) %> |
  <%= link_to "Back to fundings", fundings_path %>

  <%= button_to "Destroy this funding", @funding, method: :delete %>
</div>
